body {
  background: #fff url("../grey_wash_wall.png") left top;
}
@media screen and (max-width: 1024px) {
    .mdl-layout__header-row {
        padding: 0 16px 0 52px;
    }
}
.c3-axis, g.tick, .c3-grid  {
  fill: black;
  font-size: 12px;
}
.c3-tooltip-name {
  stroke: black;
  background-color: black;
}
.c3-tooltip {
  fill: orange;
  stroke:orange;
}
.c3 path {
  stroke: black;
}
.c3 g.tick line {
  stroke: black;
}

.chart .loader svg path,
.chart .loader svg rect {
  fill: #FF6700;
}
.demo-graphs {
  padding-right: 1em;
}
section {
  width: 100%;
  margin: 0;
  max-width: none;
  height: 100vh;
}
section:nth-of-type(2n) {
}

