body {
    background-color: black;
}
/* #octocat img {
    border-radius: 50%;
    background-color: white;
}
 */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PT_Sans-Narrow.ttf');
}
.c3-axis, g.tick, .c3-grid  {
    font-family: 'PT Sans Narrow', sans-serif;
    fill: white;
    font-size: 14px;
    /*stroke: white;*/
}
.c3-grid  {
    fill: black;
}
.c3-tooltip-name {
   /* fill: white; */
  stroke: black; 
}
.c3-tooltip {
   fill: orange;
  stroke:orange; 
}
.c3 path, .c3 line {
  fill: none;
  stroke: white;
}
#octocat {
    display: block;
}
#content {
    font-family: 'PT Sans Narrow', sans-serif;
    display: table;
    position: absolute;
    width: 100%;
    height: 75%;
}
#content #center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
h2, h1, h3 {
    /* margin-top: 15px; */
    margin: 15px;
    color: black;
    color: white;
}
.dataCursor {
/*    border: none;
*//*     color: #007AFF;
 */}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 30px;
}
h3 {
    margin-top: 0; 
    font-size: 20px;
}
h5 a,
h3 a,
h2 a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed gray;
}
.addthis_native_toolbox {
    width: 500px;
    margin: 0 auto;
}
h2 {
/*     margin-top: 10px;
margin-bottom: 50px;
 */}
#chart {
    width: 960px;
    margin: 0 auto;
}
progress {
    margin: 10px;
    -webkit-appearance: none;
    appearance:         none;
    height:             2px;
    width:              500px;
    left: 250px;
    position: relative;

/*  position:                absolute;
    left:                    50%;
    top:                      50%;
     */
    -webkit-transform:  translate(-50%, -50%);
    -moz-transform:     translate(-50%, -50%);
    -ms-transform:      translate(-50%, -50%);
    -o-transform:       translate(-50%, -50%);
    transform:            translate(-50%, -50%);
}
progress::-webkit-progress-bar {
    background: #C7C7CC;
}
progress::-webkit-progress-value {
    background: #007AFF;
}